
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exchange Rate Checker</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Privatbank Exchange Rate Checker</h1>
            <form action="/fetch_rates" method="get">
                <div class="field">
                    <label class="label">Start Date</label>
                    <div class="control">
                        <input class="input" type="date" name="start_date" required>
                    </div>
                </div>
                <div class="field">
                    <label class="label">End Date</label>
                    <div class="control">
                        <input class="input" type="date" name="end_date" required>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button class="button is-link">Check Rates</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</body>
</html>
